body {
    margin: 0;
    padding: 0;
}

.flex-container {
    display: flex;
    /* width: 1000px; */
    width: 70%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: auto;
}

.flex-container img {
    width: 100%;
    display: block;

    object-fit: cover;
    height: 100px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

}

.header_logo {
    width: 100%;
}

.navigation_bar {
    background-color: lightgreen;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.menu ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
    align-items: center;
    justify-content: center;


}

.map_and_contact_info {
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 5px;
}

.map {
    flex-grow: 1;
    width: 200px;


}

.map iframe {
    width: 100%;
    height: 250px;
}

.contact_info {
    flex-grow: 4;
}


.footer {
    width: 100%;
    height: 50px;
    background-color: lightgreen;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a:visited {
    /* color: inherit; */
    text-decoration: false;
    color: rgb(0, 60, 255);
    /* тот же цвет, что и у обычных ссылок */

}