body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
    background-color: #000000;
}

.image-container {
    width: 100%;
    height: 200px;
    overflow: hidden;  /* Hide overflow if image is larger */
    vertical-align: middle;
    text-align: center;
}

.menu {
    text-decoration: none;  /* Remove underlines */
    padding: 10px 20px;     /* Add space around the text */
    font-size: 16px;
    transition: background-color 0.3s; /* Smooth transition on hover */
    text-align: center;
    /* background: light grey; */
    background-color: var(--bg-color, #000000);
    
}

.content {
    padding: 20px;
    text-align: center;
    /* background-color: #000000; */
}

.footer {
    text-decoration: none;  /* Remove underlines */
    font-size: 16px;
    transition: background-color 0.3s; /* Smooth transition on hover */
    text-align: center;
    /* background-color: #000000; */
}