.test {
    text-align: center;
    width: 200px;
    border: 1px solid black;
    border-radius: 8px;
    left: 50%;
    display: block;
    margin: auto;
    /* padding-bottom: 10px; */
}
#submitButton{
    margin-bottom: 10px;
}

#test {
    text-align: center;
}

table, th, td {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    padding: auto;
}