body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.image-container {
    width: 100%;
    height: 200px;
    border: 1px outset black;
    overflow: hidden;  /* Hide overflow if image is larger */
}

.menu {
    border: 1px outset black;
    text-decoration: none;  /* Remove underlines */
    padding: 10px 20px;     /* Add space around the text */
    font-size: 16px;
    transition: background-color 0.3s; /* Smooth transition on hover */
    text-align: center;
    background: light grey;
}

.content {
    border: 1px outset black;
    display: none;
    padding: 20px;
}

.active {
    display: block;
}

.footer {
    border: 1px outset black;
    text-decoration: none;  /* Remove underlines */
    font-size: 16px;
    transition: background-color 0.3s; /* Smooth transition on hover */
    text-align: center;
}