/* .test {
    text-align: center;
}

#test {
    text-align: center;
}

h1 {
    text-decoration: underline;
    text-decoration-color: red;
}

table, th, td {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
} */

* {
box-sizing: border-box;
font-family: Arial, sans-serif;
}

body {
margin: 0;
height: 100vh;
display: flex;
flex-direction: column;
}

.topnav {
overflow: hidden;
background-color: #333;
border: 2px solid black;
display: flex;
justify-content: center;
}

.topnav a {
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

.topnav a:hover {
background-color: #ddd;
color: black;
box-shadow: inset 0px 0px 0px 2px white;
border-radius: 4px;
}

.content {
text-align: center;
background-color: #ddd;
padding: 10px;
height: inherit;
}

form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

footer {
    margin-top: auto;
    border: 2px solid black;

    .column {
    float: left;
    width: 50%;
    padding: 10px;
    background-color:#aaa;
    }

    .row:after {
    content: "";
    display: table;
    clear: both;
    }
}

input[type=text] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type=submit] {
    width: 100%;
    background-color: #3B3B63;
    color: white;
    padding: 14px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}